<h1>Profile</h1>

<div class="row">
  <div class="col-md-3">

  </div>

<div class="col-md-9">
<h1>Music recommended for you:</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Videolink</th>
      <th>Imagelink</th>
      <th>Infolink</th>
      <th>Language</th>
      <th>Music category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |music_listing| %>
      <tr>
        <td><%= music_listing.name %></td>
        <td><%= music_listing.videolink %></td>
        <td><%= music_listing.imagelink %></td>
        <td><%= music_listing.infolink %></td>
        <td><%= music_listing.language_id %></td>
        <td><%= music_listing.music_category_id %></td>
        <td><%= link_to 'Show', music_listing %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Films reccommended for you:</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Videolink</th>
      <th>Imagelink</th>
      <th>Infolink</th>
      <th>Language</th>
      <th>Film category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film_listing| %>
      <tr>
        <td><%= film_listing.name %></td>
        <td><%= film_listing.videolink %></td>
        <td><%= film_listing.imagelink %></td>
        <td><%= film_listing.infolink %></td>
        <td><%= film_listing.language_id %></td>
        <td><%= film_listing.film_category_id %></td>
        <td><%= link_to 'Show', film_listing %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>TV shows reccommended for you:</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Videolink</th>
      <th>Imagelink</th>
      <th>Infolink</th>
      <th>Language</th>
      <th>Tv category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tv.each do |tv_listing| %>
      <tr>
        <td><%= tv_listing.name %></td>
        <td><%= tv_listing.videolink %></td>
        <td><%= tv_listing.imagelink %></td>
        <td><%= tv_listing.infolink %></td>
        <td><%= tv_listing.language_id %></td>
        <td><%= tv_listing.tv_category_id %></td>
        <td><%= link_to 'Show', tv_listing %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<br>

</div>
</div>