<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
  <% if user_signed_in? %>
  <h1><%= "Hi " + current_user.name %><h1>
  <% else %>
  <%= "Welcome" %>
  <%end%>
  <h1>Your pop culture eductaion begins here <h1>
</div>

<div class="col-md-4"></div>
</div>

<div class="row">
<div class="col-md-1"></div>
<div class="col-md-11">
    <h2>Song recommendations for you:</h2>
</div>
</div>
<div class="row">
<div class="col-md-0"></div>
<div class="col-md-12">
    <% @songs.each do |music_listing| %>
    <%= link_to image_tag(music_listing.avatar.url(:thumb)), music_listing%>
    <% end %>
</div>
</div>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-11">
<h2>Film recommendations for you:</h2>
</div>
</div>
<div class="row">
<div class="col-md-0"></div>
<div class="col-md-12">
    <% @films.each do |film_listing| %>
    <%= link_to image_tag(film_listing.avatar.url(:thumb)), film_listing%>
    <% end %>
</div>
</div>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-11">
    <h2>TV show recommendations for you:</h2>
</div>
</div>
<div class="row">
<div class="col-md-0"></div>
<div class="col-md-12">
    <% @tv.each do |tv_listing| %>
    <%= link_to image_tag(tv_listing.avatar.url(:thumb)), tv_listing%>
    <% end %>
 </div>
</div>
