
<style type="text/css">
.background_image{
  
  background: asset_path('/assets/pop-background.png');
}
</style>

<head>
  <title>Famy</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>    <%= csrf_meta_tags %>

</head>

<body class="background_image">


  <div class="row">
<div class="col-md-6"></div>
<div class="col-md-6">
<div class="well" style=  "background: #fff;">

  <h2>Tell us about yourself...</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, :class => "form-control", :style => "width:90%"%>
  </div>

   <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => "form-control", :style => "width:90%" %>
  </div>

   <div class="field">
    <%= f.label :The_language_I_am_going_to_learn_is %><br>
    <%= collection_select(:user, :language_id, Language.all, :id, :language, {}, { :class => "btn btn-default form-control", :style => "width:90%"}) %>
  </div>

   <div class="field">
    <%= f.label :I_like_to_listen_to %><br>
    <%= collection_select(:user, :music_category_id, MusicCategory.all, :id, :category, {}, { :class => "btn btn-default form-control", :style => "width:90%"}) %>
  </div>

     <div class="field">
    <%= f.label :My_favourite_films_are %><br>
    <%= collection_select(:user, :film_category_id, FilmCategory.all, :id, :category, {}, { :class => "btn btn-default form-control", :style => "width:90%"}) %>
  </div>

     <div class= "field">
    <%= f.label :The_TV_shows_I_love_are %><br>
    <%= collection_select(:user, :tv_category_id, TvCategory.all, :id, :category, {}, { :class => "btn btn-default form-control", :style => "width:90%"}) %>
  </div>



  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :style => "width:90%" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :style => "width:90%" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class=> "btn btn-warning" %>

  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>


</div>


</body>
