<h1>Listing tv_categories</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tv_categories.each do |tv_category| %>
      <tr>
        <td><%= tv_category.category %></td>
        <td><%= link_to 'Show', tv_category %></td>
        <td><%= link_to 'Edit', edit_tv_category_path(tv_category) %></td>
        <td><%= link_to 'Destroy', tv_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tv category', new_tv_category_path %>
