<%= form_for(@p_laylist) do |f| %>
  <% if @p_laylist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@p_laylist.errors.count, "error") %> prohibited this p_laylist from being saved:</h2>

      <ul>
      <% @p_laylist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :playlistname %><br>
    <%= f.text_field :playlistname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
