<%= form_for(@tv_listing, html: { multipart: true }) do |f| %>
  <% if @tv_listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tv_listing.errors.count, "error") %> prohibited this tv_listing from being saved:</h2>

      <ul>
      <% @tv_listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.file_field :avatar %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :YouTube_link %><br>
    <%= f.text_field :videolink %>
  </div>
  <div class="field">
    <%= f.label :Find_out_more_link %><br>
    <%= f.text_field :infolink %>
  </div>
<div class="field">
    <%= f.label :language_id %><br>
    <%= collection_select(:tv_listing, :language_id, Language.all, :id, :language) %>
  </div>
    <div class="field">
    <%= f.label :TV_show_category %><br>
    <%= collection_select(:tv_listing, :tv_category_id, TvCategory.all, :id, :category) %>
  </div>
    <div class="field">
    <%= f.label :How_does_it_make_you_feel? %><br>
      <%= collection_select(:tv_listing, :p_laylist_id, PLaylist.all, :id, :playlistname) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
