
<div class="row">
<div class="col-md-6">
<h1>All Songs</h1>
</div>
<div class="col-md-6"></div>
</div>

<div class="row">

<table>
   <div class="panel panel-default">
      <table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Langauge</th>
      <th>TV Category</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @tv_listings.each do |tv_listing| %>
    <td><%=link_to image_tag(tv_listing.avatar.url(:thumb)), tv_listing%></td>
        <td><%= tv_listing.language.language %></td>
          <td><%= tv_listing.tv_category.category %></td>
        <td><%= link_to 'Show', tv_listing %></td>
       
      </tr>
    <% end %>
  </tbody>
</div>
</table>

<br>
</div>

<%= link_to 'Create a new TV listing', new_tv_listing_path %>