
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">


  <p>
    <h1><%= @tv_listing.name%></h1>
  </p>

  <p>
  <%= raw(@tv_listing.videolink) %>
  </p>



  <p>

    <strong>Find out more here:</strong>
    <%= @tv_listing.infolink %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= @tv_listing.language.language %>
  </p>

  <p>
    <strong>Song category:</strong>
    <%= @tv_listing.tv_category.category %>
  </p>

  <p>
  <strong>This show makes you feel:</strong>
  <%= @tv_listing.p_laylist.playlistname %>
</p>

  <%= link_to 'Edit', edit_tv_listing_path(@tv_listing) %> |
  <%= link_to 'Back', tv_listings_path %>

<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5"></div>

</p>
  </div>
  <div class="col-md-4"></div>

 



</div>


  </p>
