
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<h1>All Films</h1>


<table>
   <div class="panel panel-default">
      <table class="table">
  <thead>
    <tr>
      <th>Film</th>
      <th>Langauge</th>
      <th>Film category</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @film_listings.each do |film_listing| %>
    <td><%=link_to image_tag(film_listing.avatar.url(:thumb)), film_listing%></td>
        <td><%= film_listing.language.language %></td>
          <td><%= film_listing.film_category.category %></td>
        <td><%= link_to 'Find out more >', film_listing %></td>
       
      </tr>
    <% end %>
  </tbody>
</div>
</table>
</div>

<%= link_to 'Add a new film', new_film_listing_path %>

</div>
<div class="col-md-1"></div>


