

<div class="row">
<div class="col-md-6">
<h1>All Films</h1>
</div>
<div class="col-md-6"></div>
</div>

<div class="row">

<table>
   <div class="panel panel-default">
      <table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Langauge</th>
      <th>Film category</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @film_listings.each do |film_listing| %>
    <td><%=link_to image_tag(film_listing.avatar.url(:thumb)), film_listing%></td>
        <td><%= film_listing.language.language %></td>
          <td><%= film_listing.film_category.category %></td>
        <td><%= link_to 'Show', film_listing %></td>
       
      </tr>
    <% end %>
  </tbody>
</div>
</table>

<br>
</div>

<%= link_to 'New Film listing', new_film_listing_path %>


