

  <p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">


<p>
  <h1><%= @film_listing.name%></h1>
</p>

<p>
<%= raw(@film_listing.videolink) %>
</p>



<p>

  <strong>Find out more here:</strong>
  <%= @film_listing.infolink %>
</p>

<p>
  <strong>Language:</strong>
  <%= @film_listing.language.language %>
</p>

<p>
  <strong>Film category:</strong>
  <%= @film_listing.film_category.category %>
</p>

<p>
  <strong>This film makes you feel:</strong>
  <%= @film_listing.p_laylist.playlistname %>
</p>

<%= link_to 'Edit', edit_film_listing_path(@film_listing) %> |
<%= link_to 'Back', film_listings_path %>

<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5"></div>

</div>
<div class="col-md-4"></div>
