<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @film_listing.name %>
</p>

<p>
  <strong>Videolink:</strong>
  <%= @film_listing.videolink %>
</p>

<p>
  <strong>Imagelink:</strong>
  <%= @film_listing.imagelink %>
</p>

<p>
  <strong>Infolink:</strong>
  <%= @film_listing.infolink %>
</p>

<p>
  <strong>Language:</strong>
  <%= @film_listing.language_id %>
</p>

<p>
  <strong>Film category:</strong>
  <%= @film_listing.film_category_id %>
</p>

<%= link_to 'Edit', edit_film_listing_path(@film_listing) %> |
<%= link_to 'Back', film_listings_path %>
