


<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">

<h1>All Songs</h1>


<table>
   <div class="panel panel-default">
      <table class="table">
  <thead>
    <tr>
      <th>Music</th>
      <th>Langauge</th>
      <th>Music category</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @music_listings.each do |music_listing| %>
    <td><%=link_to image_tag(music_listing.avatar.url(:thumb)), music_listing%></td>
        <td><%= music_listing.language.language %></td>
          <td><%= music_listing.music_category.category %></td>
        <td><%= link_to 'Find out more >', music_listing %></td>
       
      </tr>
    <% end %>
  </tbody>
</div>
</table>
</div>

<%= link_to 'Add a new song', new_music_listing_path %>

</div>
<div class="col-md-1"></div>