
  <p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">


<p>
  <h1><%= @music_listing.name%></h1>
</p>

<p>
<%= raw(@music_listing.videolink) %>
</p>

<p>
  <strong>Language:</strong>
  <%= @music_listing.language.language %>
</p>

<p>
  <strong>Song category:</strong>
  <%= @music_listing.music_category.category %>
</p>


<%= link_to 'Edit', edit_music_listing_path(@music_listing) %> |
<%= link_to 'Back', music_listings_path %>
<br>
<br> 
<p>
  <strong> In the discussion below, share things you have learned or any questions you have</strong>
 </p>
<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5"></div>

</div>
<div class="col-md-4">

</div>